@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Space Grotesk';
  font-weight: 300 700;
  src: local('Space Grotesk'),
    url(./assets/fonts/SpaceGrotesk-VariableFont_wght.woff2) format('woff2');
}

@tailwind utilities;

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color: theme('colors.white');
    background-color: theme('colors.black');
  }

  :where(#root) {
    all: inherit;
  }
  *:focus-visible {
    outline: 0.2em solid theme('colors.green');
    outline-offset: -0.01em;
  }
}
